.DS_Store
Thumbs.db

.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

*.log
*.tmp
*.swp

/dist/
/build/
/out/

/node_modules/

*.class

*.env

*.zip
*.tar.gz
*.tar.bz2
*.tar.xz

Desktop.ini